option {
  color: #1e293b; /* slate-800 */
  background: white;
}


/* إجبار لون الخط داخل الـ option */
select option {
  color: #1e293b !important;   /* slate-800 */
  background-color: #ffffff !important;
}

/* إجبار لون الخط داخل القائمة المفتوحة */
select {
  color: #1e293b !important;
  background-color: #ffffff !important;
}


select option {
  -webkit-text-fill-color: #1e293b !important;
}